@font-face {
  font-family: 'FateCoreFont';
  src: font-url('FateCoreFont.ttf');
  font-weight: normal;
  font-style: normal;
}

.fate-icons {
  font-family:'FateCoreFont';
  font-size: 150%;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  padding: 2rem;
  background-color: $gray-lighter;
}

caption {
  font-weight: bold;
}

nav {
  background-color: $gray-darker;
}

.table th {
  white-space: nowrap;
}
