.table {
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  th, td {
    max-width: 250px;
    min-width: 100px;
  }
}

legend {
  font-size: 100%;
  font-weight: bold;
}

.sheet-components {
  width: 40%;
  margin-right: 3rem;
  margin-top: 2rem;

  th, td {
    max-width: 250px;
  }
}
