%nav.navbar.navbar-static-top{role: 'navigation'}
  %ul.nav.navbar-nav
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Characters', characters_path
    %li
      = link_to 'Skills', skills_path
